<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rakshak - Main</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="icon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <head>
    <script src="https://unpkg.com/scrollreveal@4"></script>
  </head>
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
    html.sr .load-hidden {
  visibility: hidden;
}
html.sr .widget {
  visibility: hidden;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: 27%;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.nearby
{
  background-color: whitesmoke;
  height: 500px;
}
.c1
{
  border: 1px solid #ddd;
  margin-top: 3%;
}
*
{
  border-radius: 10px;
}
.ine 
{
  border: 1px solid #ddd;
  margin-top: 2%;
}
.head
{
  margin-top: 1%;
  text-align: center;
}
.h 
{
  margin-bottom: 5%;
  min-height: 500px;
}
.h.scroll
{
  overflow-x: hidden;
                overflow-y: auto;
}
.nearby
{
    overflow-x: hidden;
                overflow-y: auto;
                  min-height: 500px;

}
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Rakshak<span>.</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Guide</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Help</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Help Details</h2>
          <audio controls>
            <source src="assets/siren.mpeg" type="audio/ogg">
          </audio>
          <ol>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="portfolio.html">Help</a></li>
            <li>Help Desk</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d447.38358689899866!2d83.42521839488974!3d17.92140475671327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a39578978fe2bdf%3A0x6d892d5e97237d8c!2sCSE%20Department%20ANITS!5e0!3m2!1sen!2sin!4v1688296605317!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                

                  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1900.0953235580441!2d83.26820585637047!3d17.735653995785555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTfCsDQ0JzA4LjQiTiA4M8KwMTYnMTAuMiJF!5e0!3m2!1sen!2sin!4v1687585711765!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                 -->
                </div>
                </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3><i class="bi bi-geo-alt"></i>&nbsp;&nbsp;Sending Information</h3>
              <ul>
                <li class="widget"><i class="bi bi-check2-circle"></i>&nbsp;Fetching user's emergency contacts</li>
                <li class="widget"><i class="bi bi-check2-circle"></i>&nbsp;Extracting Users Location</li>
                <li class="widget"><i class="bi bi-check2-circle"></i>&nbsp;Activation of API's</li>
                <li class="widget"><i class="bi bi-check2-circle"></i>&nbsp;Sending Location to emergency contacts</li>
                <li class="widget"><i class="bi bi-check-circle-fill"></i>&nbsp;Data sent</li>
              </ul>
            </div>
            <div class="portfolio-description">
              <button class="button-62" role="button" onclick="showDiv()">Doctor Support</button>
              <div class="container c1" id="welcomeDiv" style="display:none;" >
                <div class="row">
                  <div class="col-sm">
                    <i class="bi bi-clipboard-check-fill"></i>&nbsp;Your data has been send to nearby hospitals.
                    <br>
                    <i class="bi bi-emoji-smile-fill"></i>&nbsp; Please keep yourself save--You may get help at any time be alert  
                  </div>
                </div>
              </div>
              <br><br>
              <div class="container c1">
                <div class="row">
                  <div class="col-sm">
                    <ul>
                      <h3 style="text-align: left;">Present Location</h3>
                      <li><strong>Longitude:</strong>&nbsp;&nbsp;17.858.45.5.5</li>
                      <li><strong>Latitude:</strong>&nbsp;&nbsp;333.4.4.444.4.4</li>
                    </ul>
                  </div>
                </div>
              </div>
              
              <!-- HTML !-->


                
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <div class="container h">
    <div class="row">
      <div class="col-sm nearby">
        <div class="col head">
          <div class="row-sm">
            <i class="bi bi-buildings"></i>&nbsp;<strong>Nearby Hospitals</strong>
          </div>

        </div>
        <!--same loop for nearby hospital-->
        <div class="col ine">
          <div class="row-sm">
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5049.213704785459!2d83.26610185355084!3d17.737252663321524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3942b62f5b77d1%3A0x3d9524688ee73534!2sDamayanthi%20(Durga)%20Hospitals!5e0!3m2!1sen!2sin!4v1687586058369!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d718.6294257471981!2d83.42536070567031!3d17.92110676956153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a395ba6685d0869%3A0xcb37ec41b3c9bacd!2sAnil%20Neerukonda%20Hospital!5e0!3m2!1sen!2sin!4v1688296849068!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
                <!--same loop for nearby hospital-->
                <div class="col ine">
                  <div class="row-sm">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1430.320035427345!2d83.42346232517994!3d17.93016107706767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3957f93a49baa1%3A0x7b2b7966a20e203f!2sMother%20Teresa%20Hospital!5e0!3m2!1sen!2sin!4v1688297068472!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                  </div>
                  </div>
                <!--end-->
                        <!--same loop for nearby hospital-->
        <div class="col ine">
          <div class="row-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1898.0562438322156!2d83.42637241053048!3d17.926906599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a395711301b9643%3A0xeb9dd05a88d8ce73!2sSTAR%20HOSPITAL!5e0!3m2!1sen!2sin!4v1688297164657!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          </div>
          </div>
        <!--end-->
        <!--end-->

        <div class="col head">
          <div class="row-sm">
            <i class="bi bi-hospital"></i></i>&nbsp;<strong>Nearby Hotels</strong>
          </div>
        </div>
        <!--same loop for nearby hospitals-->
        <div class="col ine">
          <div class="row-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3795.982332101377!2d83.4238494107103!3d17.932977982979555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a395748133598f5%3A0x55a71b2915059c48!2sMFC%20MANIKANTA%20FOOD%20COURT!5e0!3m2!1sen!2sin!4v1688297269204!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          </div>
          </div>
                <!--same loop for nearby hospitals-->
                <div class="col ine">
                  <div class="row-sm">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3796.28081849672!2d83.41191149678953!3d17.91905150000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3959493083c79d%3A0x3d639e2bb4df0e1!2sDelicious%20Biryani&#39;s!5e0!3m2!1sen!2sin!4v1688297331057!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                <!--end-->
        <!--end-->
        <div class="col head">
          <div class="row-sm">
            <i class="bi bi-megaphone"></i></i></i>&nbsp;<strong>Nearby Police stations</strong>
          </div>
        </div>
        <!--same loop for nearby hospitals-->
        <div class="col ine">
          <div class="row-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30370.083627943866!2d83.40507537714146!3d17.920002002922242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3957fea152576b%3A0x965e42a1bd080080!2sPolice%20Checkpost!5e0!3m2!1sen!2sin!4v1688297467583!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          </div>
          </div>
          <div class="row-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30370.08362844476!2d83.4050754!3d17.920002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3957a14eb88255%3A0x5d7f37cfd912a3eb!2sPolice%20Station!5e0!3m2!1sen!2sin!4v1688297568813!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          </div>
          </div>
        <!--end-->
        </div>
      </div>
    </div>
  </div>
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Rakshak</h3>
            <p>An saviour of life threatning situation.Lets keep it for safe side, who knows the destiny !?</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Rakshak</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <strong>Team INFINITI</strong></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>
    ScrollReveal().reveal('.headline', { duration: 2000 });
    ScrollReveal().reveal('.widget', { interval: 1000 });
    function showDiv() {
   document.getElementById('welcomeDiv').style.display = "block";
}

  </script>

</body>

</html>